fastapi
uvicorn[standard]
python-dotenv
langchain>=0.3.0
langchain-community
langchain-core
langchain-google-genai
langchain-groq
langchain-text-splitters
faiss-cpu
pypdf
docx2txt
requests
beautifulsoup4
duckduckgo-search
pandas
numpy
tflite-runtime==2.14.0
Pillow
opencv-python-headless
